{
  parser: "babel-eslint",
  extends: "airbnb",
  rules: {
    react/jsx-filename-extension: ["error", { "extensions": [".js", ".jsx"] }]
  },
  env: {
    es6: true,
    browser: true,
  },
  parserOptions: {
    ecmaversion: 6,
    sourceType: "module",
    ecmaFeatures: {
      jsx: true,
      experimentalObjectRestSpread: true
    }
  }
}
